body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}
h1 {
  color: white;
  background: url("https://ichef.bbci.co.uk/news/976/cpsprodpb/C9F6/production/_118720715_gettyimages-51246880.jpg");
  background-size: cover;
  background-position: center;
  padding: 40px;
  margin: 0px;
}
h3 {
  margin: 4px;
}
button {
  color: white;
  background: black;
  border: 1px solid white;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin: 12px;
}
p {
  margin: 16px auto;
  max-width: 400px;
}
textarea,
#translation {
  padding: 20px;
  width: 300px;
  height: 100px;
  border-radius: 12px;
}
#translation {
  margin: auto;
  border: 1px solid black;
}
div {
  margin-bottom: 40px;
}
